#heading{
    text-align: center;
    background-color: bisque;
    color: black;
    font-size: 40px;
}
table{
    width: 100%;
    background-color: rgb(169, 247, 247);
    color: rgb(163, 100, 100);
}