*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridcontainer{
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

.fitems{
    padding: 10px;
    border: 2px solid black;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
}

.image{
    grid-column-start: 1;
    grid-column-end: 4;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}

